@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Playfair+Display|Poppins:300,400');

/* FONT SIZING, 1 REM = 16 PIXELS */
* {
  box-sizing: border-box;
}

.tagline {
  line-height: 15px;
}
/* .view-cart {
  text-decoration: underline;
} */
header {
  font-family: 'Poppins', sans-serif;
  background: #d6e5fc;
  font-weight: 400;
  color: #0c0d4c;
  font-size: .7rem;
  letter-spacing: 2px;
  padding: 15px 20px;
  text-align: center;
  text-transform: uppercase;
}

.featured-image {
  width: 100%;
  padding-bottom: 30px;
}
/* .fa, .fas {
    font-weight: 900;
    padding: 0px 4px;
    color: #0c0d4c;
    transition: 0.2s;
} */

.navMenu {
  display: none;
}


.top-icon{
     z-index:2
}

#up-icon {
  position: fixed;
  bottom: 25px;
  z-index: 99;
  padding-left: 3px;
  right: 25px;
  cursor: pointer;
  width: 40px;
  color: #fafafb;
  height: 40px;
  /* border-radius: 50px; */
  font-size: 1.7rem;
  vertical-align: 0%;
  height: 30px;
  width: 30px;
  background-color: rgba(46, 80, 173, 0.32);
}


hr {
  border-color: #d3d3d333;
  color: #eee;
  height: .125%;
}
.view-cart {
  content:"/f07a";
  text-rendering: optimizeLegibility;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  transition: 0.2s;
}
a {
  text-rendering: optimizeLegibility;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  transition: 0.2s;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: .95rem;
  font-weight: 300;
  letter-spacing: .5px;
  line-height: 2;
}

ul {
  list-style-type: none;
}

.menu-horoscopes {
  font-size: .65rem;
  background: #f7faff;
  letter-spacing: 2px;
  line-height: 1;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  border-bottom: 1px solid rgb(236, 235, 236);
}

.menu-horoscopes li {
  display: inline-block;
  margin: 15px 10px;
}

a:link {
  color: #0c0d4c;
  text-decoration: none;
}

a:visited {
  color: #0c0d4c;
  text-decoration: none;
}

a:hover,.fa:hover, .fas:hover {
  color: #55c7cf;
}


a:active {
  color: #20288f;
}

.section-title {
  text-align: center;
  margin: 40px auto;
  width: 80%;
  font-family: 'Playfair Display', serif;
}

.headline-title {
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0;
  font-size: 2.75rem;
  letter-spacing: 6px;
  line-height: 1;
  text-transform: uppercase;
}

#nav-menu ul {
  font-size: .65rem;
  letter-spacing: 2px;
  line-height: 1;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  width: 93%;
  border-bottom: 1px solid rgb(236, 235, 236);
}

main {
  position: relative;
  margin: auto;
  width: 95%;
  height: auto;
}

.menu-main li {
  display: inline-block;
  margin: 15px 10px;
}

.main-content-area {
  width: 65%;
  padding-left: 0px;
  height: auto;
  float: right;
  margin: 65px 20px 0 0;
}

blockquote {
  font-family: 'Montserrat', sans-serif;
  font-size: .95rem;
  font-weight: 300;
  letter-spacing: .5px;
  line-height: 2;
}

.left-nav-area {
  width: 25%;
  float: left;
  margin: 50px 0 0 20px;
}

.display-none {
  display: none;
}

#home {
  padding-bottom: 60px;
}

h1 {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
}

h2 {
  font-family: 'Playfair Display', serif;
  margin: 0;
}

#left-nav-menu ul {
  font-size: 0.75rem;
  letter-spacing: 1.5px;
  line-height: 1;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
  padding-bottom: 5px;
}

.menu-left li {
  text-align: left;
  line-height: 40px;
}

.menu-left li a {
  font-family: 'Montserrat', sans-serif;
  font-size: .8rem;
  color: #7d7d7d;
}

.menu-left li a:hover {
  color: #55c7cf;
}

.menu-left li:nth-child(2), .menu-left li:nth-child(11) {
  margin-bottom: 20px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  text-transform: uppercase;
}

.yellow-title-background {
  background: #fff7e1;
}

.pink-title-background {
  background: #fff4f0;
}

.lt-blue-title-background {
  background: #eaf0f9;
}

footer {
  clear: both;
  position: relative;
  margin: auto;
  padding-top: 50px;
  max-width: 100%;
  height: auto;
  border-top: 1px solid rgb(240, 236, 240)
}

.footer-nav-container {
  margin: auto;
  width: 85%;
  padding: 0 0 50px 52px;
}

#footer-nav-menu-left {
  /* margin: 50px; */
  width: 31%;
  display: inline-block
}

#footer-nav-menu-left ul {
  font-size: 0.75rem;
  letter-spacing: 1px;
}

.menu-bottom {
  width: 100%;
}

.menu-bottom li {
  text-align: left;
  line-height: 30px;
}

.menu-bottom li a {
  font-family: 'Montserrat', sans-serif;
  font-size: .75rem;
  color: #7d7d7d;
}

.menu-bottom li a:hover {
  color: #55c7cf;
}

#footer-nav-menu-middle {
  width: 31%;
  display: inline-block;
  vertical-align: top;
}

#footer-nav-menu-middle ul {
  font-size: 0.75rem;
  letter-spacing: 1px;
}

#footer-nav-menu-right {
  width: 31%;
  display: inline-block;
  vertical-align: top;
}

#footer-nav-menu-right ul {
  font-size: 0.75rem;
  letter-spacing: 1px;
}

.footer-copyright {
  font-family: 'Poppins', sans-serif;
  background: #f0f6fe;
  font-weight: 400;
  color: #434343;
  font-size: .7rem;
  letter-spacing: 2px;
  padding: 15px 20px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}


@media screen and (max-width:1024px) {
  #home {
    padding-bottom: 30px;
  }

  nav#top-menu {
    margin: auto;
  }

  nav#nav-menu {
    margin: auto;
    width: 92%;
  }

  #nav-menu ul {
    width: 100%;
    padding: 0 5px 20px;
  }

  .navMenu {
    cursor: pointer;
    text-align: center;
    color: #444444;
    display: block;
    margin: auto;
    font-size: 1.15rem;
    padding: 21px 43px 0 0;
    width: 20%;
    transition: .2s;
    -webkit-font-smoothing: antialiased;

  }

  .navMenu:hover {
    background-color: #fff;
    border-width: 0;
    color: #55c7cf;
  }

  .hamburger-text {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: .8rem;
    text-transform: uppercase;
    margin: 4px 0 0 5px;
  }

  .menu-horoscopes, .menu-main {
    display: none;
    padding: 0 0 20px 0;
  }
/* using flexbox */
.menu-horoscopes li {
  display: flex;
}
.nav-open {
    margin-top:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 12px;
    background: white;
  }
/* .order {
  order:3;
} */

.menu-horoscopes li:nth-child(2) {
    order: 2;
}
.menu-horoscopes li:nth-child(3) {
    order: 3;
}
.menu-horoscopes li:nth-child(4) {
      order: 4;
}
.menu-horoscopes li:nth-child(5) {
      order: 5;
}
.menu-horoscopes li:first-child(6) {
 order: 6;
}
.menu-horoscopes li:nth-child(1) {
   order: 1;
}
  .left-nav-area {
    width: 97%;
    padding: 0 0 45px 0;
    margin: 0px 0px 0 10px;
    border-bottom: 1px solid rgb(240, 236, 240);
  }

  .footer-nav-container {
    width: 97%;
    width: 97%;
    margin: 0px 0px 0 10px;
    padding: 0 0 40px 0;
  }

  .main-content-area {
    width: 100%;
    padding: 10px;
    height: auto;
    float: left;
    margin-top: 30px;
  }

  footer {
    width: 95%;
    border: none;
    padding-top: 50px;
    margin: 102px auto 0;
  }
}


@media screen and (max-width:768px) {
  #footer-nav-menu-left, #footer-nav-menu-middle, #footer-nav-menu-right {
    display: block;
    width: 100%;
  }

  footer h3 {
    width: 100%;
    text-align: center;
  }

  .menu-bottom {
    width: 100%;
    padding: 0;
  }
}


@media screen and (max-width:420px) {
  .menu-bottom {
    width: 100%;
  }

  .main-content-area {
    width: 100%;
    height: auto;
    float: left;
    margin-top: 0px;
  }

  .left-nav-area, .footer-nav-container {
    width: 94%;
  }

  .left-nav-area {
    padding: 0 0 25px 0;
  }

  footer {
    padding-top: 25px;
  }

  /* .navMenu {
    padding: 21px 43px 0 0;
  } */
}
